*.gitignore filter=lfs diff=lfs merge=lfs -text
*.go filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.css filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
/ffmpeg/bin/linux/ffmpeg filter=lfs diff=lfs merge=lfs -text
/ffmpeg/bin/linux/ffplay filter=lfs diff=lfs merge=lfs -text
/ffmpeg/bin/linux/ffprobe filter=lfs diff=lfs merge=lfs -text
*.1 filter=lfs diff=lfs merge=lfs -text
*.3 filter=lfs diff=lfs merge=lfs -text
*.ffpreset filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.mod filter=lfs diff=lfs merge=lfs -text
*.sum filter=lfs diff=lfs merge=lfs -text
/exiftool/bin/linux/exiftool filter=lfs diff=lfs merge=lfs -text
*.pm filter=lfs diff=lfs merge=lfs -text
*.pod filter=lfs diff=lfs merge=lfs -text
*.dat filter=lfs diff=lfs merge=lfs -text
*.pl filter=lfs diff=lfs merge=lfs -text
/exiftool/bin/linux/lib/Image/ExifTool/README filter=lfs diff=lfs merge=lfs -text
/exiftool/bin/windows/exiftool_files/LICENSE filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
/exiftool/bin/windows/exiftool_files/lib/Image/ExifTool/README filter=lfs diff=lfs merge=lfs -text
*.pc filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.ix filter=lfs diff=lfs merge=lfs -text
** !text !filter !merge !diff
ffmpeg/bin/linux/ffmpeg filter=lfs diff=lfs merge=lfs -text
ffmpeg/bin/linux/ffplay filter=lfs diff=lfs merge=lfs -text
ffmpeg/bin/linux/ffprobe filter=lfs diff=lfs merge=lfs -text
ffmpeg/bin/windows/ffmpeg.exe filter=lfs diff=lfs merge=lfs -text
ffmpeg/bin/windows/ffplay.exe filter=lfs diff=lfs merge=lfs -text
ffmpeg/bin/windows/ffprobe.exe filter=lfs diff=lfs merge=lfs -text
