internal/ffmpeg/bin/linux/ffmpeg filter=lfs diff=lfs merge=lfs -text
internal/ffmpeg/bin/linux/ffplay filter=lfs diff=lfs merge=lfs -text
internal/ffmpeg/bin/linux/ffprobe filter=lfs diff=lfs merge=lfs -text
internal/ffmpeg/bin/windows/ffmpeg.exe filter=lfs diff=lfs merge=lfs -text
internal/ffmpeg/bin/windows/ffplay.exe filter=lfs diff=lfs merge=lfs -text
internal/ffmpeg/bin/windows/ffprobe.exe filter=lfs diff=lfs merge=lfs -text
internal/onnxruntime/bin/linux/libonnxruntime.so filter=lfs diff=lfs merge=lfs -text
internal/onnxruntime/bin/windows/onnxruntime.dll filter=lfs diff=lfs merge=lfs -text
internal/ai/bin/visual_model.onnx filter=lfs diff=lfs merge=lfs -text
